.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
  padding: 80px 100px;
  background: #f9fafb;
}

.about-content h2{
  font-size: 40px;
  font-weight: bold;
  color: #111827;
  margin-bottom: 12px;
}

.about-content .tagline {
  font-size: 20px;
  font-weight: 500;
  color: #2563eb;
  margin-bottom: 16px;
}

.about-content p {
  font-size: 16px;
  line-height: 28px;
  color: #374151;
  margin-bottom: 32px;
}

.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}

.highlight {
  flex:  1 1 120px;
  background: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 20px 10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}

.highlight:hover{
  transform: translateY(-5PX);
  box-shadow: 0 6px 18px rgba(0,0,0,1);
}

.highlight .icon {
  color: #2563;
  width: 28px;
  height: 28px;
}

.read-more-btn {
  display: inline-block;
  background: #2563eb;
  color: white;
  padding: 14px 28px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease, transform 0.2s ease;
  
}